<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jmsapplay.tabuadakids">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_meu_laucher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_meu_laucher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdicaoActivityMain"
            android:label="@string/title_activity_adicao_main"

            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubtracaoActivityMain"
            android:label="@string/title_activity_subtracao_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MultiplicacaoActivityMain"
            android:label="@string/title_activity_multiplicacao_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DivisaoActivityMain"
            android:label="@string/title_activity_divisao_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PersonaActivity"
            android:label="@string/title_activity_persona"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GameMainActivity"
            android:screenOrientation="portrait"
            android:label="@string/txt_titulo_game"
            android:windowSoftInputMode="adjustResize|adjustPan"></activity>
    </application>

</manifest>